NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ACCESS_TOKEN=
SUPABASE_DB_PASSWORD=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
SEED_GESTOR_EMAIL=thaylan+gestor@elitejuris.com.br
SEED_ADVOGADO_EMAIL=thaylan+advogado@elitejuris.com.br
SEED_SUPERADMIN_EMAIL=thaylan+admin@elitejuris.com.br
SEED_USER_PASSWORD=
